@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

body {
    font-family: "DM Sans", sans-serif;

}


.AddProperty{
    background-color: #520c5abb;
    
    border: 5px solid 54005;
    border-radius: 25px;

    display:block;

    justify-content: center;

    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;

    padding: 0px;
    padding-bottom: 10px;
    padding-top: 5px;
    
    text-align: center;

    width: 50%;

    
}

.blur{
    backdrop-filter: blur(5px);
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
}

.AddProperty-Header{
    position: relative;
    font-size: 2rem;
    font-weight: 900;
    color: white;
}

.background-image {
    background-image: url("../images/acnh-house.jpeg");
    background-size: cover;
    width: 100%;
    overflow: auto;
    
}

.addproperty-button {
    color: black;
    font-size: 15px;
    width: 70%;
    border: white;
    border-radius: 2px;
    background-color: rgb(255, 240, 221);
    box-sizing: border-box;
    justify-content: center;
    /* margin: 2px 0; */
    margin-top: -5px;
    margin-bottom: 20px;
    padding: 12px 20px;
    text-align: center;
    font-weight: bold;
}

.input-field{
    width: 70%;
    border: white;
    border-radius: 2px;
    box-sizing: border-box;
    justify-content: center;
    margin: 2px 0;
    padding: 12px 20px;
    text-align: center;
    
}

.input-label {
    color: #ffffff;
    position: relative;
    justify-content: center;
    text-align: center;
}

p{
    padding: 0;
}

.select-box{
    width: 70%;
    border: white;
    border-radius: 2px;
    box-sizing: border-box;
    justify-content: center;
    margin: 0px 0;
    padding: 10px 10px;
    text-align: center;
    background-color: white;
}

