.App {
  margin: 0;
  padding: 0;
  background-color: white;
}

.surreal-estate-image{
  width: 100%; 
  /* clip-path: inset(0% 0px 30% 0px); */
  overflow: hidden;
  max-width: auto;
  
  position: relative;
  top: 1px;
  /* left: 0; */
  object-fit: cover;

}
   