.navbar{
    background-color: white;
    justify-content: center;
    border-bottom: solid grey;
    border-width: 5px;
}

.navbar-links {
    display: flex;
    margin-block-start: auto;
    padding-inline-start: 0px;
    justify-content: center;
    font-size: 17px;
    /* margin: 10px; */
}

.navbar-links-item{
    padding-top: auto;
    margin: 10px;
    display: inline-block;
}

.navbar-logo{
    width: 25%;
    max-width: 200px;
    height: 15%;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
}