.navbar{
    background-color: white;
    justify-content: center;
    border-bottom: solid grey;
    border-width: 5px;
}

.navbar-links {
    display: flex;
    list-style: wrap;
    justify-content: center;
}

.navbar-links-item{
    padding: 30px;
    margin: 0;
    display: inline-block;
}

.navbar-logo{
    width: 25%;
    height: 15%;
    overflow: hidden;
    align-items: center;
}